/*
 * Hi! I'm your stylesheet! I've got some sensible defaults here,
 * but feel free to change me to your heart's content!
 */

* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  background: #ffffff;
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100vw;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav {
  align-items: center;
  background-color: #333333;
  color: #c0c0c0;
  display: flex;
  height: 60px;
}

nav li {
  float: left;
}

ul li{
  list-style-type: none;
}

nav a {
  color: #c0c0c0;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
  font-size: 20px;
  border: 2px solid transparent;
}

nav a:hover {
  border-bottom: 2px solid gold;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #333333;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

button a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

input {
  width: 600px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

textarea {
  width: 600px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

h1 {
  height: 40px;
}

.error {
  line-height: 5px;
}

.smallcampus-img {
  display: block;
  max-width: 300px;
  max-height: 120px;
}

.smallprofile-img {
  display: block;
  max-width: 300px;
  max-height: 300px;
}

.largeprofile-img {
  display: block;
  max-height: 400px;
}

.largecampus-img {
  display: block;
  max-width: 500px;
}

.profile-container {
  display: flex;
  flex-direction: row;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 1rem 0.25em;
  width: 1000px;
}

.profile-details {
  padding: 10px;
}

.card {
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 1rem 0.25em;
  text-align: center;
  flex: 0 1 24%;
  flex-basis: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

#home-div {
  background-image: url('/images/school.jpg');
  height: calc(100vh - 160px);
  width: 100vw;
  align-content: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#home-text {
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
}

#map {
  text-align: center;
}

#not-exist a:hover {
  border-bottom: 2px solid gold;
  text-decoration: none;
}
