/*
 * Hi! I'm your stylesheet! I've got some sensible defaults here,
 * but feel free to change me to your heart's content!
 */

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif
}
body {
  background: #ffffff;
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100vw;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav {
  align-items: center;
  background-color: #333333;
  color: #c0c0c0;
  display: flex;
  height: 60px;
}

nav li {
  float: left;
}

ul li {
  list-style-type: none;
}

nav a {
  color: #c0c0c0;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
  font-size: 20px;
  border: 2px solid transparent;
}

nav a:hover {
  border-bottom: 2px solid gold;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
}
